@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Commerce.Catalog.ContentTypes
@model CmsCommerce.Models.Catalog.MyProduct

@{ Layout = null; }


<h1>MyProduct </h1>

<div epi-property="Brand">@Model.Brand</div>
<div epi-property="Description">@Model.Description</div>
<div epi-property="LongDescription">@Model.LongDescription</div>
<div epi-property="ProductTeaser">@Model.ProductTeaser</div>

@* <div> *@
@*     <h3>@Model.Brand</h3> *@
@*     <h3>@Model.Description</h3> *@
@*     <h3>@Model.Sizing</h3> *@
@*     <h3>@Model.LongDescription</h3> *@
@*     <h3>@Model.ProductTeaser</h3> *@
@* </div> *@

<ul>
    @*@foreach (var item in Model.ListOfVariation)
    {
        <li>
            @*<img height="50" width="50" src="@item.imageUrl" />
                <a href="@item.url">@item.name</a>
            <p>Znaleziono variacje</p>

        </li>


    }*@
</ul>